name: Site CI
on:
  schedule:
    - cron: "0 0 * * *"
  repository_dispatch:
    types: [site]
  workflow_dispatch:
jobs:
  release:
    name: Deploy site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_PAT || github.token }}
      - name: Deploy site
        uses: upptime/uptime-monitor@v1.41.0
        with:
          command: "site"
        env:
          GH_PAT: ${{ secrets.GH_PAT || github.token }}
